    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    html {
        box-sizing: border-box;
        font-size: 62.5%;
        /** Reset para rems - 62.5% = 10px de 16**/
    }
    /* GLOBAL */
    
    img {
        max-width: 100%;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        font-size: 1.6rem;
        line-height: 1.5;
    }
    
    .contenedor {
        width: 95%;
        max-width: 120rem;
        margin: 0 auto;
    }
    
    h1 {
        font-size: 3.3rem;
    }
    
    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2.8rem;
    }
    
    h4 {
        font-size: 2.6rem;
    }
    /* Utilidedes */
    
    .secction {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .fw-300 {
        font-weight: 300;
    }
    
    .centrar-texto {
        text-align: center;
    }
    
    .d-block {
        display: block!important;
    }
    
    .contenido-centrado {
        max-width: 80rem;
    }
    /* Botones */
    
    .boton {
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 0.5rem 3rem;
        margin-top: 3rem;
        display: inline-block;
        text-align: center;
        border: none;
        display: block;
        flex: 0 0 100%;
    }
    
    @media (min-width: 76.8rem) {
        .boton {
            display: inline-block;
            flex: 0 0 auto;
        }
    }
    
    .boton:hover {
        cursor: pointer;
    }
    
    .boton-amarillo {
        background-color: #E08709;
    }
    
    .boton-verde {
        background-color: #71b100;
    }
    /* Header */
    /*vh =view port height Significa que tomara la medida de la pantalla y la adaptara a ella*/
    
    .Site-header {
        background-color: #333;
        padding: 1rem 0 3rem 0;
    }
    
    .Site-header.inicio {
        background-image: url(../img/header.jpg);
        background-position: center center;
        background-size: cover;
        height: 100vh;
        min-height: 60rem;
    }
    
    .contenido-header {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
    
    .contenido-header h1 {
        color: #fff;
        padding-bottom: 2rem;
        max-width: 60rem;
        line-height: 1.5;
    }
    
    @media(min-width:76.8rem) {
        .contenido-header {
            text-align: left;
        }
    }
    
    .barra {
        /* display: flex; */
        /* justify-content: space-between; */
        padding-top: 2rem;
        /* align-items: center; */
    }
    
    @media (min-width: 76.8rem) {
        .barra {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    /* navegacion*/
    
    .navegacion a {
        color: #fff;
        text-decoration: none;
        font-size: 1.5rem;
        /* margin-right: 2rem; */
        display: block;
    }
    
    @media (min-width: 76.8rem) {
        .navegacion a {
            display: inline-block;
            margin-right: 2rem;
        }
        .navegacion a:last-of-type {
            margin: 0;
        }
    }
    
    .navegacion a:hover {
        color: #71b100;
    }
    
    .navegacion a:last-of-type {
        margin: 0;
    }
    /* Iconos Nosotros */
    
    @media (min-width:76.8rem) {
        .Iconos-Nosotros {
            display: flex;
            justify-content: space-between;
        }
    }
    /* .Iconos-Nosotros {
        display: flex;
        justify-content: space-between;
    } */
    
    .Iconos {
        /* flex-basis: calc(33.3% - 1rem); */
        text-align: center;
    }
    
    @media (min-width:76.8rem) {
        .Icono {
            flex-basis: calc(33.3% - 1rem);
        }
    }
    
    .Iconos h3 {
        text-transform: uppercase;
    }
    /* Anuncios */
    
    @media (min-width:76.8rem) {
        .contenedor-anuncios {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    
    .anuncios {
        /* flex: 0 0 calc(33.3% - 1rem); */
        border: 0.1rem solid #b5b5b5;
        background-color: #f5f5f5;
        margin-bottom: 2rem;
    }
    
    @media (min-width:76.8rem) {
        .anuncios {
            flex: 0 0 calc(33.3% - 1rem);
        }
    }
    
    .contenido-anuncio {
        padding: 2rem;
    }
    
    .contenido-anuncio h3 {
        margin: 0;
    }
    
    .contenido-anuncio p {
        margin: 0;
    }
    
    .Precio {
        color: #71b100;
        font-weight: 700;
    }
    
    .iconos-caracteristicas {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: space-evenly;
        flex: 1;
        max-width: 50rem;
    }
    
    .iconos-caracteristicas li {
        /* flex: 1; */
        display: flex;
    }
    
    .iconos-caracteristicas li img {
        margin-right: 2rem;
    }
    
    .ver-todas {
        display: flex;
        justify-content: flex-end;
    }
    /* Contacto Home */
    
    .Imagen-contacto {
        background-image: url(../img/encuentra.jpg);
        background-position: center center;
        background-size: cover;
        height: 40rem;
        display: flex;
        align-items: center;
    }
    
    .contenido-contacto {
        flex: 0 0 95%;
        color: #fff;
    }
    
    .contenido-contacto p {
        font-size: 1.8rem;
    }
    /* seccion inferior */
    
    @media (min-width:76.8rem) {
        .seccion-inferior {
            display: flex;
            justify-content: space-between;
        }
        .seccion-inferior .blog {
            flex-basis: 60%;
        }
        .seccion-inferior .testimoniales {
            flex-basis: calc(40% - 1.8rem);
        }
    }
    
    .entrada-blog {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    
    .entrada-blog:last-of-type {
        margin-bottom: 0;
    }
    
    .entrada-blog .imagen {
        flex-basis: 30%;
    }
    
    .entrada-blog .texto-entrada {
        flex-basis: calc(70% - 3rem);
    }
    
    .texto-entrada a {
        color: black;
        text-decoration: none;
    }
    
    .texto-entrada h4 {
        margin: 0;
        line-height: 1.2;
    }
    
    .texto-entrada h4::after {
        content: '';
        display: block;
        width: 15rem;
        height: 0.5rem;
        background-color: #71b100;
        margin-top: 1rem;
    }
    
    .texto-entrada span {
        color: rgb(230, 128, 11);
    }
    /* testimoniales */
    
    .testimonial {
        background-color: #71b100;
        font-size: 1.8rem;
        line-height: 1.8;
        margin: 2rem;
        padding: 2rem;
        color: #fff;
        border-radius: 2rem;
    }
    
    .testimonial p {
        text-align: right;
    }
    
    .testimonial blockquote::before {
        content: '';
        background-image: url(../img/comilla.svg);
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: -2rem;
    }
    
    .testimonial blockquote {
        position: relative;
        padding-left: 3rem;
        font-weight: 300;
    }
    /* footer */
    
    footer {
        background-color: #333;
        margin: 0;
    }
    
    .contenedor-footer {
        padding: 3rem 0;
        text-align: center;
    }
    
    @media (min-width:76.8rem) {
        .contenedor-footer {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .copyright {
        margin: 0;
        color: #fff;
    }
    /* Paginas interna */
    /* Nosotros */
    
    @media (min-width:76.8rem) {
        .contenido-nosotros {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            /*fr = fraccion*/
            grid-column-gap: 2rem;
        }
    }
    
    .texto-nosotros blockquote {
        font-weight: 900;
        font-size: 2rem;
        margin: 0;
        padding: 1rem 0 3rem 0;
    }
    /* Anuncios */
    
    .resumen-propiedad {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* Contacto */
    
    form p {
        font-size: 1.5rem;
        color: #333;
        margin: 2rem 0 0 0;
    }
    
    legend {
        font-size: 2rem;
        color: #4f4f4f4f;
    }
    
    label {
        font-weight: 700;
        text-transform: uppercase;
        display: block;
    }
    
    input:not([type="submit"]),
    textarea,
    select {
        padding: 1rem;
        display: block;
        width: 100%;
        background-color: #e1e1e1;
        margin-bottom: 2rem;
        border: none;
        border-radius: 1rem;
    }
    
    input[type="radio"] {
        width: auto;
        margin: 0;
    }
    
    select {
        -webkit-appearance: none;
        appearance: none;
    }
    
    textarea {
        height: 20rem;
    }
    
    .forma-contacto {
        max-width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }